
.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.big_image{
    width: 100%;
}
#start,#restart{
    font-size: 22px;
}
.copy_right_footer{
    position: fixed;
    color: silver;
    bottom: 0;
    width: 100%;
    background-color:darkcyan;
    line-height: 3;
    text-align: center;
    }